body {padding-bottom: 70px;}

#id_header {text-align: center; margin-top: 15px;}
#id_header img {width: 150px; height: 150px;}

#id_title {font-weight: 700; font-size: 18px; padding: 5px;}

#id_detail {margin: 6px 15px;}

/* 购买价格 */
#id_detail .cls_buyPrice {font-size: 12px; color: #999;}
#id_detail .cls_buyPrice b {color: #FE0000; font-size: 20px; font-family: Arial;}

/* 券价格 */
#id_detail .cls_couponPrice {display: inline-block; margin-top: 3px;}
#id_detail .cls_couponPrice mark {
    background-color: #FF9950; font-size: 13px; border: 1px dashed #fff; border-width: 0 1px;
    color: #fff; padding: 0 2px; float: left;
}
#id_detail .cls_couponPrice b {
    font-size: 12px; font-weight: 400; color: #FF9950; font-family: Arial;
    border: 1px solid #FF9950; border-width: 1px 1px 1px 0px; float: left; padding: 0 2px;
}

/* 购买人数 */
#id_detail .cls_buyers {color: #999; font-size: 12px; float: right; margin-left: 5px; margin-top: 5px;}
#id_detail .cls_buyers b {color: #FF6A00; font-size: 12px; font-weight: 400;}

/* 淘口令 */
#id_taoPassword_area {background-color: #FFF8DC; padding: 25px;}
#id_taoPassword_area .cls_taoPassword_text {
    border: 1px dotted #FF7F50; color: #FF7F50; font-size: 16px; background-color: #fff;
    padding: 2px; text-align: center;
}
#id_taoPassword_area .cls_tip {color: #6495ED; font-size: 15px; text-align: center; margin-top: 10px;}

/* 一键复制 */
#id_copy {padding: 0 10px; position: fixed; bottom: 10px; width: 100%;}
#id_copy .cls_wrapper {
    background-color: #E53563; border: 0; height: 50px; line-height: 50px; color: #fff; border-radius: 5px;
    text-align: center;
}