
/* 页头 */
#id_header {height: 128px; background: url("images/header_bg.png") no-repeat; background-size: 100% 100%; padding-top: 25px;}

/* 搜索框 */
#id_search {background-color: #fff; border-radius: 4px; height: 45px; line-height: 45px; margin: auto 10px; padding-left: 10px;}
#id_search .cls_icon {color: #F54E54; width: 8%; display: inline-block;}
#id_search .cls_box {border: 0px; width: 68%;}
#id_search .cls_btn {background-color: #FFB902; border: 0px; height: 45px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; width: 20%; float: right;}

/* 向导 */
#id_guid {color: #fff; font-size: 13px; text-align: center; margin-top: 20px;}
#id_guid .cls_text {margin-left: 10px;}

/* 快速入口 */
#id_quick_entries {margin-top: 5px;}
#id_quick_entries .cls_quick_entry {width: 20%; display: inline-block; text-align: center; text-decoration: none; margin-top: 5px;}
#id_quick_entries img {width: 38px; height: 38px; display: block; margin: 0 auto;}
#id_quick_entries .cls_text {color: #686868; font-size: 11px;}


